body {
    font-family: "Nova Square", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.tx-1 {
    color:darkred;
}

.tx-2 {
    color: #C67F7F;
}
.tx-3 {
    color: #ececec; 
}

.bg-1 {
    background-color: #ececec;
}
.bg-2 {
    background-color: darkred;
}

.immagine img {
    width: 120px;
}

.immg {
    background-image: linear-gradient(to bottom, rgb(236, 236, 236) 15%, rgba(255, 255, 255, 0)), url(./media/switzerland.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ECECEC;
    height: 70vh;
}

.sopra {
    position: absolute;
    bottom: 0px;
    width: 100vw;
}

h1 {
    position: relative;
    top: 30vh;
    letter-spacing: 50px; 
    font-size: 57px;   
}

.montagne {
    background-image: url(./media/switzerland.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh; 
    position: absolute;
    z-index: -1;
    opacity: 70%;
}

.mountains {
    background-image: url(./media/mountains.png);
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
        
}

.monta {
    background-image: url(./media/trees2.png);
    background-position: bottom;
    background-color: #ECECEC;
    
}

.alberi {
    background-image: url(./media/single.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.loghino {
    width: 120px;
    height: 120px;
    border: 3px solid darkred;
}

.benefit {
    border: 3px solid darkred;
    border-radius: 50%;
}

.designe_underline {
    position: relative;
}

.designe_underline::after {
    position: absolute;
    content: '';
    bottom: -30%;
    left: 10%;
    width: 79%;
    height: 10%;
    background-color: darkred;

}

div button a {
    color: black;
    text-decoration: none;
}